# Processando dados da vacinação 

Neste notebook você encontra todos os scripts para processamento dos boletins da vacinação publicados quase que diariamente pela secretaria de estado da saúde. 

Os boletins são publicados em formato excel e baixados manualmente para a pasta input. Os boletins forma renomeados para o formato **YYYY-MM-DD.xlsx**.

In [1]:
import pandas as pd

A partir dos boletins publicados vai ser gerada uma base única que informe para cada dia, o total de doses aplicadas em cada um dos municípios de Sergipe. Para cada arquivo, as colunas de interesse serão a do nome do município e a do total de doses aplicadas. No entanto, essas colunas de interesse vão mudando a medida que a vacinação vai avançando com a inclusão do total por doses aplicadas. Sendo assim, essas colunas de interesse vão mudar a depender do arquivo que esteja sendo processando.

In [ ]:
# Coluna de nome na primeira posição e coluna de total na última coluna
type1 = ['2021-02-03','2020-02-08']
type2 = ['2021-02-09','2020-03-08']
type3 = ['2021-03-11']

In [44]:
def process_type1(file, output): 

    file_name = file.split("/")[-1].split(".")[0]
    order_columns = ['codigo_municipio','nome_municipio','total_dose1','total_dose2','total_dose_unica','total_dose_reforco']

    data_ = pd.read_excel(file, skiprows=2,header=None)
    data_ = data_.iloc[:, [0,-1]]
    data_ = data_.rename(columns={data_.columns[0]: 'nome_municipio', data_.columns[-1]: 'total_dose1'})
    data_['nome_municipio'] = data_['nome_municipio'].str.replace("-", " ")
    data_['codigo_municipio'] = data_['nome_municipio'].str[0:6]
    data_['nome_municipio'] = data_['nome_municipio'].str[7:].str.strip()
    data_['total_dose1'] = data_['total_dose1'].astype(int)
    data_['total_dose2'] = 0
    data_['total_dose_unica'] = 0
    data_['total_dose_reforco'] = 0
    data_ = data_.iloc[0:75, :]
    data_ = data_[order_columns]

    data_.to_csv(output + "/" + file_name + ".csv", index=False)

In [71]:
def process_type2(file, output): 

    file_name = file.split("/")[-1].split(".")[0]
    order_columns = ['codigo_municipio','nome_municipio','total_dose1','total_dose2','total_dose_unica','total_dose_reforco']

    data_ = pd.read_excel(file, skiprows=9,header=None)
    data_ = data_.iloc[:, [0,-5,-2]]
    data_ = data_.rename(columns={data_.columns[0]: 'nome_municipio', data_.columns[-2]: 'total_dose1', data_.columns[-1]: 'total_dose2'})
    data_ = data_.fillna(0)
    data_['nome_municipio'] = data_['nome_municipio']
    data_['total_dose1'] = data_['total_dose1'].astype(int)
    data_['total_dose2'] = data_['total_dose2'].astype(int)
    data_['total_dose_unica'] = 0
    data_['total_dose_reforco'] = 0
    data_['codigo_municipio'] = 0
    
    data_ = data_.iloc[0:75, :]
    data_ = data_[order_columns]

    

    #data_.to_csv(output + "/" + file_name + ".csv", index=False)

    return data_

In [94]:
def process_type3(file, output): 

    file_name = file.split("/")[-1].split(".")[0]
    order_columns = ['codigo_municipio','nome_municipio','total_dose1','total_dose2','total_dose_unica','total_dose_reforco']

    data_ = pd.read_excel(file, skiprows=3,header=None)
    data_ = data_.iloc[:, [0,7,8]]
    data_ = data_.rename(columns={data_.columns[0]: 'nome_municipio', data_.columns[1]: 'total_dose1', data_.columns[2]: 'total_dose2'})
    data_ = data_.fillna(0)
    data_['codigo_municipio'] = data_['nome_municipio'].str[0:6]
    data_['nome_municipio'] = data_['nome_municipio'].str[7:]
    data_['nome_municipio'] = data_['nome_municipio'].str.strip()
    data_['total_dose1'] = data_['total_dose1'].astype(int)
    data_['total_dose2'] = data_['total_dose2'].astype(int)
    data_['total_dose_unica'] = 0
    data_['total_dose_reforco'] = 0

    
    data_ = data_.iloc[0:75, :]
    data_ = data_[order_columns]

    

    #data_.to_csv(output + "/" + file_name + ".csv", index=False)

    return data_

In [159]:
process_type3("../input/boletins_vacinacao/2021-05-31.xlsx", "../tmp/boletins_temporarios")

,codigo_municipio,nome_municipio,total_dose1,total_dose2,total_dose_unica,total_dose_reforco
0,280010,Amparo de São Francisco,659,213,0,0
1,280020,Aquidabã,4156,2106,0,0
2,280030,Aracaju,156480,53799,0,0
3,280040,Arauá,1919,964,0,0
4,280050,Areia Branca,3002,1367,0,0
...,...,...,...,...,...,...
70,280720,Siriri,1663,916,0,0
71,280730,Telha,665,367,0,0
72,280740,Tobias Barreto,10716,5264,0,0
73,280750,Tomar do Geru,1900,1001,0,0
74,280760,Umbaúba,4372,1918,0,0