# Dados de Casos e Óbitos

Os dados de casos e óbitos são filtrados a partir dos dados disponibilizados pelo site [brasil.io](https://brasil.io). Os dados mais atualizados são apenas do estado como um todos. Os dados dos municípios não estão atualizados. 

O arquivo de `input` não está incluso nesse repositório por conta do tamanho.

In [1]:
import pandas as pd

In [2]:
dados_vacinacao = pd.read_csv("../input/brasilio/caso_full.csv")

In [3]:
dados_sergipe = dados_vacinacao.query("state == 'SE' and place_type == 'state'").sort_values(by='date')
dados_sergipe = dados_sergipe[['date','epidemiological_week','last_available_confirmed','last_available_deaths','new_confirmed','new_deaths']]
dados_sergipe = dados_sergipe.reset_index(drop=True)
dados_sergipe['mean7_confirmed'] = dados_sergipe['new_confirmed'].rolling(window=7).mean()
dados_sergipe['mean7_deaths'] = dados_sergipe['new_deaths'].rolling(window=7).mean()
dados_sergipe

,date,epidemiological_week,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean7_confirmed,mean7_deaths
0,2020-03-14,202011,1,0,1,0,NaN,NaN
1,2020-03-15,202012,1,0,0,0,NaN,NaN
2,2020-03-16,202012,5,0,4,0,NaN,NaN
3,2020-03-17,202012,5,0,0,0,NaN,NaN
4,2020-03-18,202012,6,0,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...
725,2022-03-09,202210,321838,6276,167,3,162.571429,2.571429
726,2022-03-10,202210,322025,6279,187,3,165.428571,2.571429
727,2022-03-11,202210,322179,6281,154,2,164.142857,2.285714
728,2022-03-12,202210,322383,6284,204,3,174.571429,2.571429
729,2022-03-13,202211,322586,6287,203,3,181.857143,2.714286

In [4]:
dados_sergipe.columns = ['data','semana_epidemiologica','total_casos_confirmados','total_obitos_confirmados','diario_casos_confirmados','diario_obitos_confirmados','media_movel7_casos','media_movel7_obitos']
dados_sergipe

,data,semana_epidemiologica,total_casos_confirmados,total_obitos_confirmados,diario_casos_confirmados,diario_obitos_confirmados,media_movel7_casos,media_movel7_obitos
0,2020-03-14,202011,1,0,1,0,NaN,NaN
1,2020-03-15,202012,1,0,0,0,NaN,NaN
2,2020-03-16,202012,5,0,4,0,NaN,NaN
3,2020-03-17,202012,5,0,0,0,NaN,NaN
4,2020-03-18,202012,6,0,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...
725,2022-03-09,202210,321838,6276,167,3,162.571429,2.571429
726,2022-03-10,202210,322025,6279,187,3,165.428571,2.571429
727,2022-03-11,202210,322179,6281,154,2,164.142857,2.285714
728,2022-03-12,202210,322383,6284,204,3,174.571429,2.571429
729,2022-03-13,202211,322586,6287,203,3,181.857143,2.714286

In [5]:
dados_sergipe.to_csv("../output/se_covid19_casos_obitos.csv", index=False)